<h1>News</h1>

<ul>
	<li> Deliver Audacious Web Apps with Ember 2 </li> <br>

	<li> Developing for Apple Watch: Your App on Their Wrists </li> <br>	

	<li> XSLT Jumpstarter; Rapid Android Development updates </li> <br>

	<li> Real-World Kanban and Hello, Android </li> <br>

	<li> Pragmatic Scala, new May PragPub magazine </li> <br>

	<li> Text Processing with Ruby, in beta </li> <br>

	</li> Web Development Recipes 2nd Edition, in beta </li> <br>

	<li> Learn Game Programming with Ruby: Bring Your Ideas to Life with Gosu, now in beta </li> <br> 

	<li> Clojure Applied: From Practice to Practitioner, now in beta </li> <br>
</ul>
