<h1>Welcome to Pragmatic Bookshelf</h1>
<br>
It's <%= Time.now %>                                                                                                     
<br>
We have <%= pluralize(@total_orders, "order") %>.         
